.cardLists {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  grid-template-areas:
    "one one one two two"
    "one one one two two"
    "three three four five seven"
    "six six four five seven"
    "six six eight eight eight";
  z-index: 1;
}
.card {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(255, 255, 255, 0.5),
    0 4px 6px -2px rgb(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
  background-color: white;
}
.c1 {
  grid-area: one;
  animation: slide-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.c2 {
  grid-area: two;
  animation: slide-top 0.6s 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.c3 {
  grid-area: three;
  animation: slide-left 0.6s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.c4 {
  grid-area: four;
  animation: slide-right 0.6s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.c5 {
  grid-area: five;
  animation: slide-right 0.6s 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.c6 {
  grid-area: six;
  animation: slide-left 0.6s 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.c7 {
  grid-area: seven;
  animation: slide-right 0.6s 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.c8 {
  grid-area: eight;
  animation: slide-top 0.6s 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
